<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>操妈的赛博之家</title>

    <!-- CSS only 引用 BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
  <!-- 导航栏 -->
  <nav class="navbar navbar-expand-lg bg-light navebar-light">
    <a href="./index.html" class="navbar-brand">操妈的赛博之家</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="./about_us.html">关于我</a></li>
      </ul>
    </div>
  </nav>
    <div class="jumbotron">
        <div class="container" align="center">
            <br>
            <br>
            <div class="text-muted">ysdlfm</div>
            <br>
            <br>
        </div>
      </div>
    <!-- JavaScript Bundle with Popper 引用 BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>