<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Flight System</title>
    <!-- CSS only 引用 BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>a{TEXT-DECORATION:none;color:  #424242}</style> 
</head>
<body>
  <!-- 导航栏 -->
  <nav class="navbar navbar-expand-lg bg-light navebar-light">
    <a href="./index.html" class="navbar-brand">操妈的赛博之家</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="./about_us.html">关于我</a></li>
      </ul>
    </div>
  </nav>
    <div class="jumbotron">
        <div class="container" align="center">
            <br>
            <br>
            <h2 class="text-info">没啥好说的</h2>
            <br>
            <div class="text-secondary">干嘛点进来啊！</div>
            <br>
            <div class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt cumque eaque fuga dolore adipisci quod molestias accusantium, odio pariatur alias <a class="text-muten" href="./about_me.html">you actually see this</a> doloribus dignissimos dolorem, consequuntur unde iste doloremque ab vitae provident!</div>
            <br>
            <br>
        </div>
      </div>
    <!-- JavaScript Bundle with Popper 引用 BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>